# run skyland.py
name: Auto Sign
on:
  schedule:
    - cron: '10 20 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-python@v5.6.0
        with:
          python-version: 3.13
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run skyland.py
        env:
          GitHub_Actions: true
          # 对于多个账号一定会有人机验证问题，且因为是密码，有一定的安全风险
          # PHONE: ${{ secrets.PHONE }}
          # PASSWORD: ${{ secrets.PASSWORD }}
          TOKEN: ${{ secrets.TOKEN }}
        run: |
          python skyland.py
